<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict/>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>http://90.156.215.236:9090/dashboard/7fbf5b40-e2b1-11ee-a123-59a6714c955b?publicId=419899c0-e2b2-11ee-a123-59a6714c955b</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
